<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <title>{% if title %}{{ title }} – {% endif %}{% if section %}{{ section }} – {% endif %}The Design of Forms in Government departments</title>
    <meta name="description" content="Digital remaster of the 1940s Design of Forms in Government Departments design manual." />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <link rel="stylesheet" href="/assets/styles.css">
  </head>
  <body>
    <script>document.documentElement.classList.remove('no-js');</script>
    <a href="#main" class="skip-link">
      Skip to main content
    </a>
    <a href="#table-of-contents" class="skip-link">
      Skip to table of contents
    </a>

    {{ content | safe }}

    <hr/>

    <footer class="highlight-modern">
      <fieldset class="theme-select" data-theme-select hidden>
        <legend>Theme</legend>
        <div class="field">
          <input class="visually-hidden" id="light" value="light" name="theme" type="radio" checked/>
          <label for="light">Light</label>
        </div>
        <div class="field">
          <input class="visually-hidden" id="dark" value="dark" name="theme" type="radio" />
          <label for="dark">Dark</label>
        </div>
      </fieldset>

      <details class="mb4">
          <summary>Report something wrong with this page</summary>
          <h4 class="mb0">GitHub</h4>
          <p>
              You can <a href="https://github.com/nickcolley/design-of-forms/issues">raise an issue on GitHub.</a>
          </p>

          <h4 class="mb0">Twitter</h4>
          <p>
              You can contact me on Twitter at <a href="https://twitter.com/nickcolley">@nickcolley</a>
          </p>
      </details>
      <p>
        Digitally remastered by <a href="https://nickcolley.co.uk">Nick Colley</a>
      </p>
      {% if pageNumber %}
        <p>
            This content appeared
            {% if pageNumber.end > pageNumber.start %}between{% else %}on{% endif %}
            page{% if pageNumber.end > pageNumber.start %}s{% endif %}
            {{ pageNumber.start }}
            {% if pageNumber.end > pageNumber.start %}and {{ pageNumber.end }}{% endif %}
            in the original book.
        </p>
      {% endif %}
      <p>
        Licensed under a <a rel="license" href="https://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International&nbsp;License</a>.
      </p>
    </footer>
    <script src="/assets/scripts.js"></script>
  </body>
</html>
