<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <title>{% if title %}{{ title }} – {% endif %}{% if section %}{{ section }} – {% endif %}The Design of Forms in Government departments</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <link rel="stylesheet" href="/assets/styles.css">
  </head>
  <body>
    <script>document.documentElement.classList.remove('no-js');</script>
    <a href="#main" class="skip-link">
      Skip to main content
    </a>
    <a href="#table-of-contents" class="skip-link">
      Skip to table of contents
    </a>

    {{ content | safe }}

    <hr/>

    <footer class="highlight-modern">
      {% if pageNumber %}
        <p>
            This content appeared 
            {% if pageNumber.end > pageNumber.start %}between{% else %}on{% endif %}
            page{% if pageNumber.end > pageNumber.start %}s{% endif %}
            {{ pageNumber.start }}
            {% if pageNumber.end > pageNumber.start %}and {{ pageNumber.end }}{% endif %}
            in the original book.
        </p>
      {% endif %}
      <details class="mb8">
          <summary>Report something wrong with this page</summary>
          <h4 class="mb0">GitHub</h4>
          <p>
              You can <a href="https://github.com/nickcolley/design-of-forms/issues">raise an issue on GitHub.</a>
          </p>

          <h4 class="mb0">Twitter</h4>
          <p>
              You can contact me on Twitter at <a href="https://twitter.com/nickcolley">@nickcolley</a>
          </p>
      </details>
      Made with <span aria-label="love">❤</span> by <a href="https://twitter.com/nickcolley">@nickcolley</a>
    </footer>
    <script src="/assets/scripts.js"></script>
  </body>
</html>
