<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>The Design of Forms in Government departments{% if section %} – {{ section }}{% endif %}{% if title %} – {{ title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <link rel="stylesheet" href="/assets/styles.css">
  </head>
  <body>
    <a href="#contents" class="skip-link">
      Skip to contents
    </a>

    <main id="main" role="main">
      {{ content | safe }}
    </main>

    <hr/>

    <footer class="highlight-modern">
      <details class="mb8">
          <summary>Report something wrong with this page</summary>
          <h4 class="mb0">GitHub</h4>
          <p>
              You can <a href="https://github.com/nickcolley/the-design-of-forms-in-government-departments/issues">raise an issue on GitHub.</a>
          </p>

          <h4 class="mb0">Twitter</h4>
          <p>
              You can contact me on Twitter at <a href="https://twitter.com/nickcolley">@nickcolley</a>
          </p>
      </details>
      Made with <span aria-label="love">❤</span> from <a href="https://twitter.com/nickcolley">@nickcolley</a>
    </footer>
  </body>
</html>
