---
title: The Design of Forms in Government departments
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <link rel="stylesheet" href="/assets/styles.css">
  </head>
  <body>
    <a href="#main" class="skip-link">
      Skip to content
    </a>

    <main id="main" role="main">
      {{ content | safe }}
    </main>

    <footer>
      Made with <span aria-label="love">❤</a> from <a href="https://twitter.com/nickcolley">@nickcolley</a>
    </footer>
  </body>
</html>
