---
layout: default.njk
skiplink: main
---

<header class="mb8">
    <h1>
        <a href="/#contents">
            The Design of Forms
            <small class="upper spacing">in Government departments</small></a>
        {%- if section and section != 'Back matter' -%}
            &nbsp;–
            <a class="inline-block upper spacing" href="/#{{ section | lower | replace(' ', '-') }}">
                <small>
                    {{- section -}}
                </small></a>
        {%- endif -%}
        {%- if title -%}
            &nbsp;– 
            <small class="inline-block">
                {{ title }}
            </small>
        {%- endif -%}
    </h1>
</header>

<h1>{{ title }}</h1>

{{ content | safe }}

{# {%- for item in collections.page -%}
  <li>
    {{ item.data.title }}: {{ item.data.section }}
  </li>
{%- endfor -%} #}

<hr/>

<h2>Contents</h2>

{% include 'contents.njk' %}
