---
layout: base.njk
---

{% include 'partials/header.njk' %}

<main id="main" role="main"{% if mainClasses %} class="{{ mainClasses }}"{% endif %}>
    <h1>{{ title }}</h1>

    {{ content | safe }}
</main>

<nav>
    {% include 'partials/pagination.njk' %}

    <h2 id="table-of-contents">Contents</h2>

    {% include 'partials/contents.njk' %}
</nav>
