:root {
  --background-color: #fcf6ea;
  --text-color: #121211;

  --highlight-modern-background-color: white;
  --highlight-modern-color: rebeccapurple;

  /**
   * The book itself recommends Gill Sans for use in Government, and the book seems to follow that guidance.
   * - Gill Sans is avaliable on OSX.
   * - Gill Sans Nova is avaliable but might not be installed by default on Windows.
   * - DevaVu Sans on Ubuntu Linux.
   * - Open Sans, Lato might be installed so worth a try.
   * http://fontfamily.io/Gill_Sans
   * Avoid downloading a webfont for performance, most people will not care.
  */
  --font-family-sans-serif: "Gill sans", "Gill Sans Nova", "DejaVu Sans", "Open Sans", "Lato", sans-serif;
  /**
   * The book itself recommends Times New Roman use in Government, and the book seems to follow that guidance.
   * - Times New Roman is avaliable on OSX and Windows.
   * - Georgia to fall back to since often default sans-serif is not that readable.
   * http://fontfamily.io/Gill_Sans
   * Avoid downloading a webfont for performance, most people will not care.
  */
  --font-family-serif: "Times New Roman", "Times", "Georgia", serif;

  --verticle-page-margin: 12vh;
  --horizontal-page-margin: 8vw;
}


@media only screen and (max-width: 60ch) {
  :root {
    --verticle-page-margin: 2rem;
    --horizontal-page-margin: 1rem;
  }
}

html {
  margin: 0;
  padding: 0;
}

body {
  background: var(--background-color);
  color: var(--text-color);
  font-size: 1.6rem;
  font-family: var(--font-family-serif);
  margin: 0;
  max-width: 60ch;
  padding: var(--verticle-page-margin) var(--horizontal-page-margin);
}

@media only screen and (max-width: 60ch) {
  body {
    font-size: 1rem;
  }
}

:target {
  scroll-margin: var(--verticle-page-margin) var(--horizontal-page-margin);
}

:link,
:visited {
  color: inherit;
}

:focus {
  outline: 4px solid var(--text-color);
  outline-offset: 0;
  background: var(--text-color);
  color: var(--background-color);
}

* {
  margin-top: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
.heading {
  font-family: var(--font-family-sans-serif);
  font-weight: bold;
}

h1 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
  margin-bottom: 4vh;
}

@media only screen and (max-width: 60ch) {
  h1 {
    font-size: 3rem;
  }
}

h1 > small {
  font-size: 1.2rem;
  margin-top: 4vh !important;
}

h2 {
  margin-top: 4rem;
  font-size: 2.6rem;
}

@media only screen and (max-width: 60ch) {
  h2 {
    font-size: 1.6rem;
  }
}

h3 {
  font-size: 1.6rem;
}

@media only screen and (max-width: 60ch) {
  h3 {
    font-size: 1.3rem;
  }
}

.heading {
  line-height: 2;
}

.lead-word {
  font-variant: small-caps;
  letter-spacing: 1px;
}

button {
  font-family: var(--font-family-sans-serif);
}

.list--style-none {
  padding-left: 0;
  margin-left: 0;
  list-style: none;
}

ul,
ol,
dl,
p {
  line-height: 1.5;
}

hr {
  margin-top: 12vh;
  margin-bottom: 12vh;
  height: 0;
  border: 0;
  border-bottom: 0.5vh solid;
}

h2 + hr {
  margin-top: 6vh;
}

dl {
  display: block;
  margin-left: 1rem;
  margin-bottom: 2rem;
}

@media only screen and (max-width: 60ch) {
  dl {
    margin-left: 0;
  }
}

dd::after {
  content: '';
  display: table;
  clear: both;
}

dt {
  display: block;
  float: left;
  margin-right: 1rem;
  max-width: calc(100% - 10ch - 1rem);
}

dd {
  display: block;
  font-weight: bold;
  margin: 0;
}

header h1 {
  font-size: 1.4rem;
}

footer {
  margin-top: 3rem;
}

details > summary {
  text-decoration: underline;
  cursor: pointer;
}

details > summary + * {
  margin-top: 1rem;
}

main > figure > p > picture > img,
main td > picture > img,
main > p > picture > img {
  mix-blend-mode: darken;
}

@media only screen and (max-width: 900px) {
  main > figure > p > picture > img,
  main td > picture > img,
  main > p > picture > img {
    max-width: 100%;
    height: auto;
  }
}

figure {
  margin: 0;
  padding: 0;
}

ol {
  --counter-start: 0;
  counter-reset: ordered-list-counter var(--counter-start);
  list-style: none;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}
ol li {
  counter-increment: ordered-list-counter;
}
ol li::before {
  content: "(" counter(ordered-list-counter) ")";
  float: left;
  margin-right: .25em;
}

/* When lists start at a number higher than 1,
set a CSS custom property to make sure the counter is correct. */
[start="1"] { --counter-start: 1; }
[start="2"] { --counter-start: 2; }
[start="3"] { --counter-start: 3; }
[start="4"] { --counter-start: 4; }
[start="5"] { --counter-start: 5; }
[start="6"] { --counter-start: 6; }
[start="7"] { --counter-start: 7; }
[start="8"] { --counter-start: 8; }
[start="9"] { --counter-start: 9; }
[start="10"] { --counter-start: 10; }

table {
  margin-left: -1rem;
  margin-right: -1rem;
  margin-bottom: 2rem;
}

th {
  font-style: italic;
  font-weight: normal;
}

th, td {
  padding: .5rem 1rem;
}

.skip-link {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1rem;
}

.skip-link:not(:focus):not(:active) {
  width: 1px;
  height: 1px;
  margin: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

/* to highlight things not in the original book */
.highlight-modern {
  background: var(--highlight-modern-background-color);
  color: var(--highlight-modern-color);
  padding: 1rem;
  border: 0;
  border-style: double;
  border-top-width: 3px;
  border-bottom-width: 3px;
}

@media only screen and (max-width: 60ch) {
  .highlight-modern {
    margin-left: calc(-1* var(--horizontal-page-margin));
    margin-right: calc(-1* var(--horizontal-page-margin));
  }
}

.mb0 {
  margin-bottom: 0;
}

.mb1 {
  margin-bottom: 1vh;
}

.mb2 {
  margin-bottom: 2vh;
}

.mb4 {
  margin-bottom: 4vh;
}

.mb8 {
  margin-bottom: 8vh;
}

.mb12 {
  margin-bottom: 12vh;
}

.mb16 {
  margin-bottom: 16vh;
}

.block {
  display: block;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

.upper {
  text-transform: uppercase;
}

.small-caps {
  text-transform: uppercase;
  font-variant: all-small-caps;
}

.spacing {
  letter-spacing: 0.1rem;
}

.visually-hidden { 
  position: absolute;
  width: 1px;
  height: 1px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  border: 0;
  white-space: nowrap;
}

/* /the-form-in-print/typography */
.sans-serif {
  font-family: var(--font-family-sans-serif);
}

/* TODO: Deduplcate tables once I know all the tables we have */

/* /copying/use-of-carbon-papers-or-carbon-coatings */

.table-carbon-papers table {
    border-collapse: collapse;
    border-bottom: 1px solid;
    border-top: 1px solid;
}
.table-carbon-papers thead {
    border-bottom: 1px solid;
}
.table-carbon-papers th:not(:first-child),
.table-carbon-papers td:not(:first-child) {
    border-left: 1px solid;
}
.table-carbon-papers td:not(:first-child):not(:last-child) {
    white-space: nowrap;
    text-align: center;
}

.table-carbon-papers td {
    padding-top: .1rem;
    padding-bottom: .1rem;
}
.table-carbon-papers tr:first-child * {
    padding-top: 1rem;
}
.table-carbon-papers tr:last-child * {
    padding-bottom: 1rem;
}
/* TODO: Is there a way to do this in markup? */
.table-carbon-papers tbody tr:nth-child(4) td,
.table-carbon-papers tbody tr:nth-child(8) td,
.table-carbon-papers tbody tr:nth-child(15) td,
.table-carbon-papers tbody tr:nth-child(19) td {
    border-bottom: 1px solid;
}

/* evolving-a-design/size-and-shape-of-documents-and-forms */


.table-size-and-shape table {
  border-collapse: collapse;
  border-bottom: 1px solid;
  border-top: 1px solid;
}
.table-size-and-shape thead {
  border-bottom: 1px solid;
}
.table-size-and-shape th:not(:first-child),
.table-size-and-shape td:not(:first-child) {
  border-left: 1px solid;
}
.table-size-and-shape td:not(:first-child) {
  white-space: nowrap;
  text-align: center;
}

.table-size-and-shape td {
  padding-top: .1rem;
  padding-bottom: .1rem;
}
.table-size-and-shape tr:first-child * {
  padding-top: 1rem;
}
.table-size-and-shape tr:last-child * {
  padding-bottom: 1rem;
}

/* table-of-symbols-for-proof-correction */

.center {
  margin: auto;
  display: block;
}

.table-symbols table {
  border-collapse: collapse;
  font-size: 1rem;
}
.table-symbols th,
.table-symbols td {
  border: 1px solid;
}
.table-symbols th:first-child,
.table-symbols td:first-child {
  border-left: 0;
}
.table-symbols th:last-child,
.table-symbols td:last-child {
  border-right: 0;
}
.table-symbols img {
  vertical-align: middle;
}

/* /index */

.index-list ul {
  /* TODO: Add back semantics? */
  list-style: none;
}

.index-list > ul {
  column-count: 2;
  padding-left: 0;
}

.index-list p {
  margin-bottom: 0;
}
