:root {
  --color-dark: #121211;
  --color-light: #fcf6ea;
  --color-dark-secondary: #3F51B5;
  --color-light-secondary: white;

  --background-color: var(--color-light);
  --text-color: var(--color-dark);

  /**
   * The book itself recommends Gill Sans for use in Government, and the book seems to follow that guidance.
   * - Gill Sans is avaliable on OSX.
   * - Gill Sans Nova is avaliable but might not be installed by default on Windows.
   * - DevaVu Sans on Ubuntu Linux.
   * - Open Sans, Lato might be installed so worth a try.
   * http://fontfamily.io/Gill_Sans
   * Avoid downloading a webfont for performance, most people will not care.
  */
  --font-family-sans-serif: "Gill sans", "Gill Sans Nova", "DejaVu Sans", "Open Sans", "Lato", sans-serif;
  /**
   * The book itself recommends Times New Roman use in Government, and the book seems to follow that guidance.
   * - Times New Roman is avaliable on OSX and Windows.
   * - Georgia to fall back to since often default sans-serif is not that readable.
   * http://fontfamily.io/Gill_Sans
   * Avoid downloading a webfont for performance, most people will not care.
  */
  --font-family-serif: "Times New Roman", "Times", "Georgia", serif;

  --verticle-page-margin: 12vh;
  --horizontal-page-margin: 8vw;
}

/* Dark theme */
[data-theme=dark] {
  --background-color: var(--color-dark);
  --text-color: var(--color-light);
}


@media only screen and (max-width: 60ch) {
  :root {
    --verticle-page-margin: 2rem;
    --horizontal-page-margin: 1rem;
  }
}

html {
  margin: 0;
  padding: 0;
}

body {
  background: var(--background-color);
  color: var(--text-color);
  font-size: 1.6rem;
  font-family: var(--font-family-serif);
  margin: 0;
  max-width: 60ch;
  padding: var(--verticle-page-margin) var(--horizontal-page-margin);
}

@media only screen and (max-width: 60ch) {
  body {
    font-size: 1rem;
  }
}

::-moz-selection {
  background: var(--text-color);
  color: var(--background-color);
}
::selection {
  background: var(--text-color);
  color: var(--background-color);
}

:target {
  scroll-margin: var(--verticle-page-margin) var(--horizontal-page-margin);
}

:link,
:visited {
  color: inherit;
}

:focus {
  outline: 4px solid var(--text-color);
  outline-offset: 0;
  background: var(--text-color);
  color: var(--background-color);
}

* {
  margin-top: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
.heading {
  font-family: var(--font-family-sans-serif);
  font-weight: bold;
}

h1 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
  margin-bottom: 4vh;
}

@media only screen and (max-width: 60ch) {
  h1 {
    font-size: 3rem;
  }
}

h1 > small {
  font-size: 1.2rem;
  margin-top: 4vh !important;
}

h2 {
  margin-top: 4rem;
  font-size: 2.6rem;
}

@media only screen and (max-width: 60ch) {
  h2 {
    font-size: 1.6rem;
  }
}

h3 {
  font-size: 1.6rem;
}

@media only screen and (max-width: 60ch) {
  h3 {
    font-size: 1.3rem;
  }
}

h4 {
  font-size: 1.4rem;
}

@media only screen and (max-width: 60ch) {
  h4 {
    font-size: 1.1rem;
  }
}

.heading {
  line-height: 2;
}

.lead-word {
  font-variant: small-caps;
  letter-spacing: 1px;
}

button {
  font-family: var(--font-family-sans-serif);
}

.list--style-none {
  padding-left: 0;
  margin-left: 0;
  list-style: none;
}

.list-item-silent {
  list-style: none;
}

ul,
ol,
dl,
p,
figcaption {
  line-height: 1.5;
}

hr {
  margin-top: 12vh;
  margin-bottom: 12vh;
  height: 0;
  border: 0;
  border-bottom: 0.5vh solid;
}

h2 + hr {
  margin-top: 6vh;
}

dl {
  display: block;
  margin-left: 1rem;
  margin-bottom: 2rem;
}

@media only screen and (max-width: 60ch) {
  dl {
    margin-left: 0;
  }
}

dd::after {
  content: '';
  display: table;
  clear: both;
}

dt {
  display: block;
  float: left;
  margin-right: 1rem;
  max-width: calc(100% - 10ch - 1rem);
}

dd {
  display: block;
  font-weight: bold;
  margin: 0;
}

header h1 {
  font-size: 1.4rem;
}

footer {
  margin-top: 3rem;
}

details > summary {
  text-decoration: underline;
  cursor: pointer;
}

details > summary + * {
  margin-top: 1rem;
}

img {
  mix-blend-mode: darken;
}

[data-theme=dark] img {
  filter: invert(1);
  mix-blend-mode: lighten;
}

.pagination {
  list-style: none;
  padding: 0;
  margin: 0;
  border-top: 0.5vh solid;
  margin-top: 4rem;
}

.pagination li {
  margin-bottom: 0;
  border-bottom: 0.5vh solid;
}

.pagination a {
  display: block;
  padding: 3vh 0;
}

.landscape-image img {
  max-width: 75vw;
  height: auto;
}

@media only screen and (max-width: 900px) {
  picture > img {
    max-width: 100%;
    height: auto;
  }
}

figure {
  margin: 0;
  padding: 0;
}

figure > picture,
figure > picture > img {
  display: block;
}

figure,
main > picture {
  display: block;
  margin-bottom: 4rem;
}

figure > picture {
  margin-bottom: 2rem;
}

/* If there's a picture under the figcaption */
figure > picture:last-child {
  margin-bottom: 0;
  margin-top: 2rem;
}

ol {
  --counter-start: 0;
  counter-reset: ordered-list-counter var(--counter-start);
  list-style: none;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}
ol li {
  counter-increment: ordered-list-counter;
}
ol li::before {
  content: "(" counter(ordered-list-counter, var(--counter-list-style, decimal)) ")";
  float: left;
  margin-right: .25em;
}

li {
  margin-bottom: 1rem;
}

ol > li > ol {
  margin-top: .5rem;
  padding-left: 1rem;
}

table {
  margin-left: -1rem;
  margin-right: -1rem;
  margin-bottom: 2rem;
}

th {
  font-style: italic;
  font-weight: normal;
}

th, td {
  padding: .5rem 1rem;
}

.skip-link {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1rem;
}

.skip-link:not(:focus):not(:active) {
  width: 1px;
  height: 1px;
  margin: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

/* to highlight things not in the original book */
.highlight-modern {
  --border-style: solid;
  --background-color: var(--color-light-secondary);
  --text-color: var(--color-dark-secondary);
  font-family: var(--font-family-sans-serif);
  font-size: 1.2rem;
  background: var(--background-color);
  color: var(--text-color);
  padding: 1rem;
  border: 0;
  border-style: var(--border-style);
  border-top-width: 3px;
  border-bottom-width: 3px;
}

[data-theme=dark] .highlight-modern {
  --background-color: var(--color-dark-secondary);
  --text-color: var(--color-light-secondary);
}

@media only screen and (max-width: 60ch) {
  .highlight-modern {
    margin-left: calc(-1* var(--horizontal-page-margin));
    margin-right: calc(-1* var(--horizontal-page-margin));
  }
}

fieldset {
  display: inline-block;
  margin: 0;
  margin-bottom: 2rem;
  padding: 1rem;
  padding-top: 0.5rem;
  border: 2px var(--border-style, solid);
}
legend {
  margin: 0;
  padding: 0 .5rem;
}
.field {
  --field-text-color: var(--text-color);
  --field-background-color: var(--background-color);
  position: relative;
  display: inline-block;
}
.field:not(:last-child) {
  margin-right: .5rem;
}
.field:focus-within {
  --field-text-color: var(--background-color);
  --field-background-color: var(--text-color);
  outline: 4px solid var(--text-color);
  outline-offset: 0;
  background: var(--text-color);
  color: var(--background-color);
}
.field:focus-within input:focus {
  outline: none;
}
.field label,
.field input {
  cursor: pointer;
}
label::after {
  content: '';
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  z-index: 0;
  left: 0;
  bottom: 0;
}
.field input {
  z-index: 2;
}
.field label::before {
  content: '';
  display: inline-block;
  height: 1em;
  width: 1em;
  border: .1em solid;
  border-radius: 50%;
  vertical-align: bottom;
  margin-right: .4rem;
}
.field input:checked + label::before {
  background: var(--field-text-color);
  box-shadow: inset 0 0 0 0.2em var(--field-background-color);
}

.mb0 {
  margin-bottom: 0;
}

.mb1 {
  margin-bottom: 1vh;
}

.mb2 {
  margin-bottom: 2vh;
}

.mb4 {
  margin-bottom: 4vh;
}

.mb8 {
  margin-bottom: 8vh;
}

.mb12 {
  margin-bottom: 12vh;
}

.mb16 {
  margin-bottom: 16vh;
}

.block {
  display: block;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

.upper {
  text-transform: uppercase;
}

.small-caps {
  text-transform: uppercase;
  font-variant: all-small-caps;
}

.lead-small-caps {
  font-variant: small-caps;
}

.spacing {
  letter-spacing: 0.1rem;
}

.visually-hidden { 
  position: absolute;
  width: 1px;
  height: 1px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  border: 0;
  white-space: nowrap;
}

.no-js .js-visible {
  display: none !important;
}

/* /the-form-in-print/typography */
.sans-serif {
  font-family: var(--font-family-sans-serif);
}

/* TODO: Deduplcate tables once I know all the tables we have */

/* /copying/use-of-carbon-papers-or-carbon-coatings */

.table-carbon-papers table {
    border-collapse: collapse;
    border-bottom: 1px solid;
    border-top: 1px solid;
}
.table-carbon-papers thead {
    border-bottom: 1px solid;
}
.table-carbon-papers th:not(:first-child),
.table-carbon-papers td:not(:first-child) {
    border-left: 1px solid;
}
.table-carbon-papers td:not(:first-child):not(:last-child) {
    white-space: nowrap;
    text-align: center;
}

.table-carbon-papers td {
    padding-top: .1rem;
    padding-bottom: .1rem;
}
.table-carbon-papers tr:first-child * {
    padding-top: 1rem;
}
.table-carbon-papers tr:last-child * {
    padding-bottom: 1rem;
}
/* TODO: Is there a way to do this in markup? */
.table-carbon-papers tbody tr:nth-child(4) td,
.table-carbon-papers tbody tr:nth-child(8) td,
.table-carbon-papers tbody tr:nth-child(15) td,
.table-carbon-papers tbody tr:nth-child(19) td {
    border-bottom: 1px solid;
}

/* evolving-a-design/size-and-shape-of-documents-and-forms */


.table-size-and-shape table {
  border-collapse: collapse;
  border-bottom: 1px solid;
  border-top: 1px solid;
}
.table-size-and-shape thead {
  border-bottom: 1px solid;
}
.table-size-and-shape th:not(:first-child),
.table-size-and-shape td:not(:first-child) {
  border-left: 1px solid;
}
.table-size-and-shape td:not(:first-child) {
  white-space: nowrap;
  text-align: center;
}

.table-size-and-shape td {
  padding-top: .1rem;
  padding-bottom: .1rem;
}
.table-size-and-shape tr:first-child * {
  padding-top: 1rem;
}
.table-size-and-shape tr:last-child * {
  padding-bottom: 1rem;
}

/* table-of-symbols-for-proof-correction */

.center {
  margin: auto;
  display: block;
}

.table-symbols table {
  border-collapse: collapse;
  font-size: 1rem;
}
.table-symbols th,
.table-symbols td {
  border: 1px solid;
}
.table-symbols th:first-child,
.table-symbols td:first-child {
  border-left: 0;
}
.table-symbols th:last-child,
.table-symbols td:last-child {
  border-right: 0;
}
.table-symbols img {
  vertical-align: middle;
}

/* /index */

.index-list ul {
  list-style: none;
}

.index-list > ul {
  column-count: 2;
  padding-left: 0;
}

.index-list p {
  margin-bottom: 0;
}

/* /forms-design-check-list */

.check-list ul {
  list-style: none;
}

.check-list > ul {
  padding-left: 0;
}

.check-list > ul > li {
  margin-bottom: 1rem;
}

/* /evolving-a-design/design-as-an-aid-to-filing-and-indexing/ */
.correction {
  border-top: 0.5vh solid;
  border-bottom: 0.5vh solid;
  margin: 0;
  padding: 1rem 0;
  margin-bottom: 4rem;
}

.correction .title {
  font-size: 1.2em;
  font-weight: normal;
  font-family: inherit;
  margin-top: 0;
}

.correction :last-child {
  margin-bottom: 0;
}
