---
layout: base.njk
---

<style>
    body {
        max-width: 100%;
    }
    img {
        max-width: 25%;
        margin: auto;
        padding: 3rem;
    }
</style>
<main>
    <h1>Gallery</h1>
    {% for image in collections.gallery %}
        <a href="{{ image | replace(r/(.*\/).+\.jpg/g, '$1') }}#image-{{ image | replace(r/.*\/(.+)\.jpg/g, '$1') }}">
            <img src="{{image}}" alt="" loading="lazy">
        </a>
    {% endfor %}
</main>
